﻿<div ng-controller="liquid.w3c.validator" class="umb-group-panel">
    <div class="umb-group-panel__header">
        <div id="group-26" class="ng-binding">W3C Validator</div>
    </div>
    <div class="umb-group-panel__content">
        <button type="button" ng-click="runW3C()">Run Validation</button>
        <p id="w3cError" style="padding-top:2em"></p>
        <div class="embed-responsive embed-responsive-21by9">
            <iframe id="w3c-iframe" type="text/html" class="embed-responsive-item" data-ng-init="iframeLoaded()"></iframe>
        </div>
    </div>
</div>